[2021-04-12 22:02] MarkLodato opened #1 "Cut initial release"
We plan to cut an initial release before the end of April. Note that each layer can have separate revisions.

Questions:
- How should we number the revision? 1? 0.1? 2021-04? Something else?
- Should the first one be some sort of alpha / draft / provisional, or a full release?

If we use integers, the decision is simple. First release is 1.
If we use 0.x/1.x (or "draft"), which of Statement / Prov

[2021-04-13 20:56] SantiagoTorres opened #2 "Compositional Notion On Attestation Types"
It'd be nice to describe a strategy for different types of attestations within the same action.

Should we have these two types of attestations live under the same object? or would they be separate attestations attached to the same action. I.e., you could have 1 subject with multiple predicates.

F.e., Having a provenance type that includes a measured boot record:

[code]

This way, we would be ab

[2021-04-13 21:10] MarkLodato opened #3 "Reproducible builds expressed as Provenance predicate"
There are a few open questions for how to support [reproducible builds](https:reproducible-builds.org) in the Provenance predicate:

Q1. Should each rebuilder produce its own attestation, or should all rebuilders sign the same attestation?

(option A) With the current schema, `builder` is required so each rebuilder must produce a unique attestation. The consumer would then verify that all the fiel

[2021-04-13 21:23] MarkLodato opened #4 "Document convention for versioning"
It would be good to come up with some convention for version numbers, using that for official specs (Statement, Provenance, etc.) and recommending it for other predicates.

### Proposal

Strawman based on [Semantic Versioning 2.0.0](https://semver.org/): "vMAJOR.MINOR". A change MAY increment only the minor version if consumers can parse the version as an earlier minor revision and have it still b

[2021-04-13 21:24] MarkLodato opened #5 "Support subjects that are not digests"
We have use cases where we need to refer to subjects that cannot be describe by a cryptographic hash. Example: Subversion repository revision, which is only identified by URI. We'd only want to support things that are semantically immutable.

[2021-04-14 13:30] TomHennen commented on #3
Q1: I think they should produce their own attestation.  There aren't, yet, any fields that might differ from builder to builder, but it's possible they might be introduced (imagine if measured boot winds up in the attestation).  These differences might be immaterial, but it would make it difficult for them to sign the same statement.  Additionally, having them sign the same statement introduces an

[2021-04-14 14:03] MarkLodato commented on #4
Another idea:

- The schema uses SemVer2, i.e. MAJOR.MINOR.PATCH. (PATCH isn't really needed, but we do it just so we're SemVer compliant.) This way implementations can state specifically which version they support.
- Any message MUST be semantically correct when parsed as any other version with the same major number. That is:
    - Parsing an older message as a newer minor/patch version MUST be s

[2021-04-14 14:09] MarkLodato commented on #1
After more thought, my inclination is to just call them both v1.

[2021-04-14 14:11] MarkLodato commented on #3
Agreed. I'll leave this issue open to document the reproducible builds in the repo.

[2021-04-14 14:54] MarkLodato commented on #2
There are two simple, existing solutions:
- Issue two independent attestations.
- Use a single predicate with all the information you want.

This feature request is about cases where the above solutions won't work.

Theoretical use cases (if there are more, please add them):

- One attestation depends on another.

    - Example: PolicyDecision attestation depends on a prior Provenance attestation.

[2021-04-14 15:06] MarkLodato opened #6 "Predicate-agnostic graph representation"
Multiple predicate types may include "links" to other artifacts, which effectively forms a graph. For example, Provenance has `materials` and a future "PolicyDecision" may have "input policy". Right now, to traverse the graph, one needs to understand the predicate type in order to pull out the graph edges and labels.

Several people, such as @tiziano88 and @SantiagoTorres, have expressed a desire

[2021-04-15 22:05] MarkLodato opened #8 "Provenance: add ability to add extensions?"
We almost definitely will not get the Provenance schema right on the first try. When there is some new information that producers want to add to the provenance, it would be nice if they had a way to do so without having to either fork the spec or wait for a new version that adds that feature.

A few ideas:

- Not allowed.
- Allow additional fields to be added to any object, with any name.
  - Exam

[2021-04-16 14:00] TomHennen commented on #8
URI fields sounds good to me.

"then it should be perfectly safe for a consumer to ignore that new field."

This statement might need some tightening up.  E.g. people might have added the field so that they or someone else can write some policy around it.  It would be a violation of the policy to ignore that field.

Maybe

"then policy evaluation that does not use the new field should be unaffecte

[2021-04-17 02:28] MarkLodato opened #9 "Make predicateType optional"
For the case of plain code signing (e.g. via [cosign](https://github.com/sigstore/cosign)), there is no predicate type. (More accurately, there is some implicit predicate implied by the public key.) To support such use cases, we should make `predicateType` optional if `predicate` is not present.

[2021-04-19 21:24] MarkLodato commented on #8
Agreed. We'll have to work out wording in the PR.

[2021-04-20 15:40] MarkLodato opened #11 "Add complete examples"
Add complete examples that show all the steps, including the crypto (with dummy public keys checked in).

[2021-04-22 02:43] MarkLodato opened #13 "Provenance: indicate completeness of `recipe`"
We currently have a `metadata.materialsComplete` field that indicates whether materials is complete or not. We need the equivalent for `recipe.arguments` and `recipe.reproducibility`. One minor thing is that it doesn't make sense for `reproducibility` to be complete but `arguments` is not.

Ideas:

- Add `metadata.argumentsComplete` and `metadata.reproducibilityComplete`.
- Add `completeness.argum

[2021-04-22 03:01] MarkLodato opened #14 "Provenance: rename `reproducibility`"
The name `recipe.reproducibility` sounds like whether it's a reproducible build or not, rather than the set of builder-controlled values that affected the build.

Maybe `recipe.environment`?

[2021-04-22 03:08] MarkLodato opened #15 "Provenance: add a policy section"
In the provenance spec, add a policy section documenting how the provenance is intended to be consumed. This should aid readability, just as the Processing Model helped with the Envelope/Statement spec.

[2021-04-22 16:40] MarkLodato opened #17 "Update ITE-6 to point to this spec"

[2021-04-22 17:12] MarkLodato commented on #1
I'll call them both 0.1 to indicate that it's still in flux, and nothing should rely on this long term.

[2021-04-22 18:55] aysylu commented on #8
The preferred option with URIs for additional field names makes sense to me.

[2021-04-22 20:02] aysylu commented on #14
Perhaps `recipe.params`, as in, parameters of the builder itself? This may be confusing in the presence of `recipe.arguments` though. Another option is `recipe.setup`. `recipe.environment` also makes sense.

[2021-04-23 12:23] MarkLodato commented on #14
Another thought: `recipe.userControlledInputs` and `recipe.builderControlledInputs`, which is perhaps more self-documenting than `arguments` and `reproducibility`/`environment`/`whatever`.

[2021-04-23 13:30] MarkLodato commented on #14
@nenaddedic suggested that "user" is unclear. Maybe: `recipe.externalInputs` and `recipe.builderEnvironment`?

[2021-04-23 14:48] MarkLodato commented on #14
More ideas: User vs System, Untrusted vs Trusted.

[2021-04-23 20:17] MarkLodato opened #19 "Provenance: remove `mediaType` and `tags` in favor of extensions"
In [Provenance](https://github.com/in-toto/attestation/blob/main/spec/predicates/provenance.md), the `materials[*].mediaType` and `materials[*].tags` fields are not well defined. It is unclear exactly how they should be used or what the conventional values are. Given that we have a way to add extension fields (#8), let's remove these fields for now until we have a better idea on how to standardize

[2021-04-23 23:25] MarkLodato commented on #14
I renamed it to `environment`, which I think is good enough for 0.1 (the most urgent issue).

I'll leave this issue open to discuss possibly better names for the next release, in case users find it confusing.

[2021-04-23 23:26] MarkLodato commented on #14
Actually, I'll just close this issue. We can open a new one if people have problems.

[2021-04-23 23:26] #14 closed

[2021-04-23 23:57] MarkLodato commented on #9
I still think this is worth considering, but not for 0.1. In the meantime, one can make up some dummy predicate.

[2021-04-24 00:38] #13 closed

[2021-04-24 14:15] MarkLodato opened #21 "Clarify that any envelope can be used"
The Envelope layer is not specified in this spec. We recommend a particular one (signing-spec) but the attestation format can be used with any envelope, so long as the producer and consumer agree.

[2021-04-25 13:16] MarkLodato commented on #9
Alternative: Create a "Null" predicate that can be used explicitly for this purpose. Thus, when someone wishes to sign without a predicate, this can be the default.

[2021-04-26 13:03] #4 closed

[2021-04-26 13:03] #8 closed

[2021-04-26 13:03] #19 closed

[2021-04-26 16:17] MarkLodato opened #23 "Explain "completeness""
Explain that "completeness" is ultimately an agreement between producer and consumer, usually through some intermediary "accreditor" as in SLSA. Counterexamples would help.

[2021-04-26 16:55] MarkLodato opened #24 "Provide better guidance on `subject.name`"
The documentation currently does not give clear guidance on how to properly use `subject[*].name`. For example, is it OK to consider one attestation {subject: [A, B], predicate: P} identical to two attestations {subject: [A], predicate: P} and {subject: [B], predicate: P}. That is what the Processing Model implies, but I don't think that is what we want in the general case. There might be cases wh

[2021-04-26 21:40] MarkLodato opened #25 "Provide better guidance on `materials`"
Currently it's unclear on what "complete" means for `materials`. Does it include materials used by the builder itself, e.g. the GitHub Actions orchestrator, or just the "runner"? To minimize the list, do we recommend that builds execute within a container? Is a container a sufficient security boundary? How confident do you need to be that it's coimplete?

My thinking is that we're shooting for "ev

[2021-04-27 14:11] TomHennen commented on #25
I had been thinking that this would just include things _fetched_ for the specific build, but wouldn't necessarily include things that are 'included' with the use of a given runner.

I understand the desire to include this data.  I think there are two competing priorities: all the data needed to reproduce vs the data needed to see if an artifact meets it's SLSA (or any other policy).

Under SLSA t

[2021-04-27 14:17] MarkLodato commented on #25
Good point.

What about for GitHub Actions, where the user selects which [VM Image](https://github.com/actions/virtual-environments) they use? Would that be considered "fetched" or "included"?

Also, note that the use case is not just reproduction but also vulnerability analysis.

[2021-04-27 14:27] TomHennen commented on #25
My thought is:

If the user selects the VM image from a defined list, then the VM selection should go in recipe.arguments (and may only need to indicate 'ubuntu-18.04' or whatever).

if the user brings along their own VM image to do the build then it should be considered 'fetched'.

Agree on the vuln analysis.  Might be hard to reason about the results, but better to include it than not I suppose.

[2021-04-27 21:41] MarkLodato commented on #1
Done!

[2021-04-27 21:41] #1 closed

[2021-04-28 13:45] MarkLodato opened #27 "Ability to refer to one attestation from another"
There are likely use cases where you want to refer to one attestation from another. For example, you could have a "Policy Decision" predicate that says "I allow subject x to run in environment Y, based on input attestation Z."

Since this is just theoretical at the moment, we'll wait until we have a few concrete use cases to actually design and implement this. Please add any use cases you might ha

[2021-04-28 13:45] MarkLodato commented on #5
Related: #27 - the subject (or materials) might be another attestation

[2021-04-28 14:52] MarkLodato opened #28 "Consider adding a "digest kind" and/or "content type" to subject"
Currently, the attestation subject is a pure content digest. There are two related pieces of information we **may** want to consider adding:

1. "digest kind": how to serialize the artifact into the hashing algorithm. Examples:
    - PE file: straight hash or the hash used for Authenticode?
    - JAR: straight hash or the hash used for JAR signing?
    - Git: commit ID or tag ID (if an annotated t

[2021-04-29 14:49] MarkLodato opened #29 "Add ability to differentiate between different types of `materials`"
Currently all `materials` are lumped together (except `recipe.definedInMaterial`). It would be useful to be able to differentiate between different types of materials. We can probably look to [SPDX Relationships](https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/) for prior art and inspiration.

Example classifications:

- "source" = application-specific code
- "library" / "de

[2021-04-29 15:46] MarkLodato opened #30 "Explain differences from Grafeas BuildProvenance"
Compare [BuildProvenance](https://github.com/grafeas/grafeas/blob/master/proto/v1/provenance.proto) to our [Provenance](https://github.com/in-toto/attestation/blob/main/spec/predicates/provenance.md).

I already wrote up a comparison. I just need to get it reviewed and convert it to Markdown.

[2021-04-30 01:49] JustinCappos commented on #27
Can you do this with sublayouts and/or treating the result of an in-toto verification as a step?  If not, can you give an example to make it clear why?

[2021-04-30 15:19] MarkLodato opened #32 "Provide guidance on level of granularity for `recipe`"
We need to provide guidance on how granular a `recipe` should be because the question has already come up. Most builds end up executing a series of steps. We want to discourage listing every single step that was run because it makes writing policies too difficult (duplication between policy and workflow definition, and the need to chain ephemeral artifacts between steps). At the same time, if the

[2021-04-30 16:52] MarkLodato commented on #27
@JustinCappos To clarify, this is just tracking the general idea. We don't have concrete use cases yet, so we can't really say whether any particular solution would work. I updated the initial comment to clarify.

That said, I don't think either of those are solutions here. Layouts are policies, and this is about attestations (i.e. links). The result of an in-toto verification is itself an attesta

[2021-05-15 12:25] dlorenc opened #36 "Consideration: where to place "workload" attestations"
I'm thinking of something like a SPIRE SVID/Bundle to attest that a build step was actually carried out by a particular workload, on a particular node.

In the case of provenance generated by a separate orchestrator - the orchestrator could obviously include some cryptographic proof of where it was running. But we could also potentially include an attestation from the build process itself.

Where

[2021-06-04 15:14] MarkLodato opened #38 "Define a "attestation bundle" data structure and naming convention"
_Copied from https://github.com/secure-systems-lab/signing-spec/issues/20._

We need a **data structure** and **file naming convention** to associate multiple attestations to a single software artifact.

### Motivating use case

Suppose file `foo.out` is associated with two attestations, both of which are required by the layout of `foo.out`:

* Provenance: the build system generates a link saying

[2021-06-04 15:28] MarkLodato commented on #36
I'm not sure I completely follow. Is the notion that the provenance is split between multiple parties --- an orchestrator and one or more workers --- and that there is some thing that combines them together?

[2021-06-04 15:41] dlorenc commented on #36
Not really "parties", but maybe "machines" would be a better term. If build ran on machine X, and machine X is capable of producing TPM attestations that attest to the integrity of the machine state, those might be useful to include somewhere.

[2021-06-14 21:14] MarkLodato opened #40 "Provenance: consider splitting `builder.id`"
"Builder" primarily refers to the (id)entity generating the provenance, not the "runner" that actually did the build. This feels like it could easily be broken into two pieces to make things more clear (esp. at the lower SLSA levels): 1) authority that attests to the result of the build / content of provenance 2) runner that executes the build steps.

_Originally posted by @msuozzo in https://gith

[2021-06-14 21:30] dlorenc opened #41 "Question: Why is the protocol included on _type and predicateType?"
They read: `https://in-toto.io/Provenance/v0.1` and `https://in-toto.io/Statement/v0.1`.

If these are just unique identifiers, I'd imagine we drop the `https:` portion. We don't ever intend for there to be real content served from them, do we?

[2021-06-15 12:52] TomHennen commented on #40
Any thoughts on how we would use these split identities?

Right now we're using the builder.id in policy evaluation so the user can specify what builders they accept.  Do we think people would want to do the same thing with the runner?  Or would the runner just be a nice piece of metadata to have?

[2021-06-15 13:58] MarkLodato commented on #41
Simply because we chose to use "URI" instead of inventing some new concept. I'd be fine dropping the protocol - it just requires a little more documentation. I'd also be OK making it case-insensitive or lowercase as discussed on another thread.

The spec says that the link SHOULD resolve a human-readable description. The intention is to set up redirects:
- Provenance/v0.1 => https://github.com/in-

[2021-06-15 14:04] dlorenc commented on #41
Would a standard IANA MediaType make sense instead of a URI?

[2021-06-15 18:24] MarkLodato commented on #41
We considered MediaType but thought that URI was a better-known collision-resistant string.
1.  Domain names are unambiguous. As an example from @TomHennen, Universities of Washington and Wisconson both call themselves "UW" but only the former is `uw.edu` (the latter is `wisc.edu`). They could both potentially use the `application/vnd.uw.` prefix.
2. People are likely less familiar with the `appli

[2021-06-15 18:54] letmaik commented on #41
Media types are typically used for file formats, while URIs are used for schemas. In this case they are JSON-compatible schemas. If you use media types, then you would have to restrict it to JSON media types to still make sense (since the predicate is put into the statement object), and even then, the general assumption is that the "media" is preserved as-is and not JSON-parsed and inserted into a

[2021-06-15 18:58] dlorenc commented on #41
Yeah they also limit the path to one "/" annoyingly IIRC

[2021-06-15 19:02] MarkLodato commented on #41
Thanks @letmaik! Yes, that too!

@letmaik what do you think about dropping the `https://`?

[2021-06-15 20:08] letmaik commented on #41
I would keep `https://`, taking inspiration from the Linked Data universe where everything is a URI. I also agree with the self-documenting nature of it.

[2021-06-16 12:57] dlorenc commented on #41
If we're actually expecting content to be served from the URI (docs, etc.) this makes more sense. Thanks!

I'm not quite sure I agree on the classification between mediaType and URI though. For example, OCI uses `mediaTypes` to represent structured data with an encoding, like this:

`mediaType": "application/vnd.oci.image.manifest.v1+json"`

[2021-06-22 23:47] dlorenc opened #43 "Container Native Provenance Predicate?"
Starting a rough brainstorm here to capture some ideas I had around the existing Provenance Predicate in this repo. The existing In-Toto Link format, Grafeas BuildProvenance and new In-Toto Attestation formats are all slightly off from my mental model.

At a high level, there are three things we care about: recipe (set of steps), materials (inputs), and final artifact (output). They each differ in

[2021-06-22 23:51] dlorenc commented on #43
Cc @kommendorkapten - what do you think about this overall?

[2021-06-23 00:43] dlorenc commented on #43
I think we might actually be able to represent this as a series of Links. In the general case you can't reason about specific inputs and outputs of each inner link, so you could define via convention that you would only fill in the inputs for the first link in the list and the outputs for the last one.

If you do have more context, you can be more precise.

[2021-06-23 02:31] dlorenc commented on #43
The one missing piece from the Provenance attestation is the knowledge about whether the overall build itself was checked in to source control. That is an important piece of information to know, in addition to the overall set of steps, their environment, and their individual entry points.

Keeping this as as orthogonal property could is also nice because it allows us to separate materials and buil

[2021-06-23 12:25] kommendorkapten commented on #43
Separate links would definitely work, but what I see as strength with the current provenance format is the recipe type and entrypoint, as that gives us the power to define policies around the attestations fairly easy.

With the possibility to record multiple steps in a provenance attestation, would you see that as a replacement to know if the build itself is in source control? As each action perfo

[2021-06-23 12:50] dlorenc commented on #43
Sorry, ignore the "separate links" idea for now :) I agree that's the big strength of the current format. I see two issues with the format though:

- I don't think we're actually populating Entrypoint/Recipe correctly, and I don't think we necessarily _can_.
- We lose data that could be useful for querying later. We lose the entrypoint of each sub-step, and we lose the relationship between the ste

[2021-06-23 13:06] kommendorkapten commented on #43
For Chains, I have this branch that should offer a solution to recipe/entrypoint: https://github.com/tektoncd/chains/compare/main...solarwinds:intoto_recipe_fixes?expand=1
It's a shame that I have been too busy to fully test it on our Tekton cluster yet, but as soon as I have, I will open a PR.

For the second point, I agree as there can be important steps in the build that _may_ not be tracked pr

[2021-06-23 13:09] dlorenc commented on #43
Ah yeah I remember that branch. I think that's definitely useful, but still don't think it would be semantically "correct" as per the format. I think we really don't have a way to fill it out correctly without building a different layer on top of tekton.

[2021-06-23 13:12] dlorenc commented on #43
I think the other direction would make more sense. I don't want to generate keys here and write them to disk, but I would be ok with the user doing that then calling fulcio to get an certificate based on a public key.

The difference is subtle, but it's clear in the second case that the end user is the one responsible for managing the lifecycle of the key and protecting it.

[2021-06-23 13:15] kommendorkapten commented on #43
I think otherwise :) But lets keep to the topic, I ping you on #chains in slack for that 👍

[2021-06-23 13:47] TomHennen commented on #43
Hey Dan, can you elaborate on what people might want to do with the separate entrypoints, environment, and arguments for each step?

[2021-06-23 14:57] dlorenc commented on #43
Here are some:

- Policy around exactly which build steps (containers) were used to build an artifact
- Post-build auditing/query-ing around which build steps were used to build an artifact. Think "I want to lookup all artifacts that were produced in pipelines that ran "curl | bash" as an intermediate build step"
- SBOM generation, from intermediate provenance attestations. We need more fine-grain

[2021-06-23 15:04] MarkLodato commented on #43
@dlorenc All of those use cases are possible with the current provenance, though use case 2 requires more than just the provenance attestation.

The containers should be listed under `materials`.

The thinking is that this information is way too detailed to be listed in provenance. It is already present in the build script. To perform this analysis:

1. Use the provenance to find the build script.

[2021-06-23 15:11] dlorenc commented on #43
Right - this is exactly what I want to avoid - having to search through source code. We already have all the info, so why not just include it? If there are actual size constraints for certain systems it would be nice to understand them. Otherwise, it seems like more useful data is better than less.

[2021-06-23 16:00] dlorenc commented on #43
I think maybe something like this would capture both sets of requirements (knowing where the recipe was defined to ensure it met 2-party review, while also inlining it):

![image](https://user-images.githubusercontent.com/1714486/123129588-ad2ef380-d411-11eb-9345-f8369c896126.png)

[2021-06-23 18:22] MarkLodato commented on #43
I still hold the opinion that Provenance should contain only the necessary and sufficient information to ensure supply chain integrity, i.e. prevent tampering. @dlorenc, your use case seems to be something other than integrity. Therefore, I suggest a separate attestation for your particular use case.

@kommendorkapten summarized this well (emphasis added):

The problem with adding extra stuff to t

[2021-06-23 18:27] dlorenc commented on #43
I think I'd argue that it should contain all information that might be useful later. It's much easier to delete data than it is to recover it.

If we want two formats, that's fine too. But they feel close enough that one format (with a few tweaks) could work to do both use-cases.

[2021-06-23 18:36] MarkLodato commented on #43
I still don't understand the use case well enough to see why the current Provenance is insufficient but your proposal would be sufficient. Maybe a worked concrete exampled would help.

Alternatively, would it help if there were support for multiple predicates in a single attestation? That could perhaps avoid duplication by having the new attestation only contain information not present in Provenan

[2021-06-23 18:49] dlorenc commented on #43
There are two aspects: whether the format is sufficient, and whether it is optimal.

For sufficiency, the current format is missing information I'd like to be in-lined (fine-grained information about each build step environment).

For optimality, this is more opinion and use-case, but I find the current format awkward to translate the build results from existing container-based systems into correc

[2021-06-23 18:55] MarkLodato commented on #43
That sounds like two separate issues.

What is the argument for inlining the specific level of detail you are requesting? Why not more (e.g. every process call)? Why not less?

Could you give a concrete example?

[2021-06-23 19:01] dlorenc commented on #43
Yeah, I'll show what it looks like to use this new format. This is basically proposing a series of tweaks to the existing one (or a new, separate one) that's a superset, and happens to be easier to implement, less-error prone, and contains more relevant data for other use-cases.

This feedback is mostly based on the existing implementation of converting Tekton Chains data into the ITE-6 payload fo

[2021-06-23 19:16] dlorenc commented on #43
To recap on this one: I followed up with @kommendorkapten in Slack - I think this is actually kind of backwards now. I'll let him reply with more - but they're thinking about policy here differently. "Recipes" live as fixed, built "artifacts", published in an OCI registry - not source control.

This is kind of the issue - the existing Tekton implementation is actually mis-using the "recipe" field

[2021-06-24 01:35] aysylu commented on #43
@dlorenc couple questions:

1) Generating a provenance per output artifact makes sense. In the use cases you're looking at, would you need to know that 2 output artifacts were produced as a result of the same build? i.e. preserving some relationship between them

2) Re multiple materials: the single Source in Grafeas tracks [a collection of files](https://github.com/grafeas/grafeas/blob/master/pro

[2021-06-24 01:40] dlorenc commented on #43
I can't think of any use case around knowing that relationship - but I'd be curious if you have any. My queries are all focused on a single artifact.

That's a good question. I think for a single `source` or `material`, I would prefer something like (in order):

- A reference to a repo (by fully-pinned commit, not just tag)
- Some other kind of package reference (purl, etc.) if we have that.
- If

[2021-06-24 02:18] trevrosen commented on #43
FWIW we're retrofitting a bunch of builds for non-container artifacts to Tekton, and as a result we've got some build steps that produce a collection of related artifacts. An example might be an agent that supports multiple install target architectures. We've been starting to play with our own predicate format as well.

[2021-06-24 02:21] dlorenc commented on #43
Oh nice! I'd be interested in seeing that type.

[2021-06-24 07:25] kommendorkapten commented on #43
Some clarifications from my side.
When I wrote the patch for Tekton Chains to fix the issue with `recipe.type` and `recipe.entryPoint` (no PR open yet) I understood the spec like this:
`type` identifies what _kind_ of build, e.g. maven or make.
`entryPoint` identifies the path to the actual "build" file, e.g. `Makefile` or `pom.xml` and any target to initiate the build via.
Short recap, the patch

[2021-06-24 12:41] dlorenc commented on #43
Thanks @kommendorkapten! This really helps. I drew a few more diagrams, but I'll try to explain the issue here first. The value of the entrypoint in the recipe is kind of fuzzy, so I'm not 100% sure I'm correct. The spec says it's supposed to be the "top level command" that kicked off the build. There are turtles up and down, so it's hard to say exactly what that is.

Given this is intended to be

[2021-06-25 19:52] dlorenc commented on #43
cc @priyawadhwa and @loosebazooka FYI

[2021-06-25 20:08] priyawadhwa commented on #43
@dlorenc & I worked on a POC of this with Tekton -- you can find some spec details [here](https://github.com/priyawadhwa/chains/blob/1523ef81d4df50e6743a717ab7191c4be64c1a41/PROVENANCE_SPEC.md) on my [branch](https://github.com/tektoncd/chains/compare/main...priyawadhwa:provenance-predicate?expand=1#diff-22e26283be3837fde3a688d4bf5e939325919e458ae9cb84c6f957b1d9382fea)!

Example provenance for bui

[2021-06-25 22:38] aysylu commented on #43
The example by @trevrosen of targeting different architectures is one of them. When a vulnerability is detected in one of the output artifacts (well after the build happened) and it's traced back to a material as the source of the vulnerability at a specific point in time, being able to trace back to all other output artifacts produced by it would be helpful. Without the explicit grouping of outpu

[2021-06-25 22:48] dlorenc commented on #43
That use case for multiple artifacts makes sense. I think we can make it repeated with some guidance around how to use it. It also matches the semantics around multi platform images in OCI, so it fits into the "container native" theme well too.

And yes! At least, I think so. Multiple sources, and multiple "steps" in the recipe. This fits a bit better and captures the relationship between "inputs"

[2021-06-26 13:34] dlorenc commented on #43
@aysylu would it make sense to add some type of annotations for platform/arch information in the subjects list, to better support filtering/querying? Or is just the name+hash enough to differentiate?

[2021-06-28 17:23] MarkLodato commented on #43
[Sorry, I wrote this on Thursday but forgot to hit send.]

@dlorenc and I met on Thursday and that helped clarify a lot for me. Here's a recap to make sure we're on the same page.

There are two main issues with the current `Provenance` format:

1.  `Provenance` assumes a simple two-layer trust model: _builder_ (trusted) + _user_ (untrusted). For example, Google Cloud Build may be used directly by

[2021-06-28 17:43] dlorenc commented on #43
I think I agree with those two problems. I'm not sure I'd frame them, or the solution, the same way.

I think provenance should be an accurate recording of what happened, as observed/orchestrated by a trusted component of the build system.

The current format has some elements of that, but in some cases requires understanding the **intent** and possibly identity of the user that submitted the buil

[2021-06-28 18:54] aysylu commented on #43
I think it depends on how generic this Provenance is intended to be. Platform/arch annotations are useful for containerized world, but may not be for packages that are built to be distributed, e.g. maven packages targeting different java versions, or optimized vs non-optimized for prod vs qual environments.

As a side note, I don't think making something very generic that's supposed to be useful i

[2021-06-28 18:58] dlorenc commented on #43
Exactly! 100% agree.

[2021-07-13 16:17] priyawadhwa commented on #43
Hey everyone, quick update on this! @dlorenc and I wrote a short doc about this format & we integrated it into Tekton Chains as a POC -- if you have any thoughts we'd love some feedback! Currently the doc is shared with sigstore-dev@googlegroups.com and tekton-dev@googlegroups.com, but lmk if I should add any other groups for additional access.

https://docs.google.com/document/d/1RMzZP9dnz3JKFJgl

[2021-07-13 19:40] TomHennen commented on #38
I'd like to propose we go with JSON Lines.

1. I think it's pretty easy.
2. It doesn't require any extra parsing of all the attestations (as a JSON object/array would)
3. It migrates easily to other metadata stores that can store text (where zip files might be tricky).

Ideally I think the extension should reference dsse, so `foo.out.dsse.jsonl`?  Otherwise `foo.out.intoto.jsonl` would be fine.

F

[2021-07-16 17:22] dlorenc opened #46 "Timestamp somewhere?"
We've been discussing support for vulnerability scans as a type of "attestation" over here: https://github.com/sigstore/cosign/issues/442

and it's clear that these will need some form of timestamp to work correctly. A vulnerability scan is timely, and should only be considered valid for a specific period of time after it is generated. This also helps align with the principle of "monotonicity", wh

[2021-07-16 19:35] TomHennen commented on #46
I think the argument against putting it in a generic field at the statement layer is that it would be difficult to convey what the timestamp means for all predicates.

This is [discussed a little bit here](https://github.com/in-toto/attestation/tree/main/spec#predicate-conventions) where it says

That leans towards having more specific timestamp fields in the predicate layer and is why [the Proven

[2021-07-19 19:24] MarkLodato commented on #38
I'm OK with this, but it would be good to get input from others.

[2021-07-20 03:51] trishankatdatadog commented on #38
Are there good reasons for JSON Lines, and not just good old-fashioned JSON?

[2021-07-20 13:16] TomHennen commented on #38
[This site](https://hackernoon.com/json-lines-format-76353b4e588d) gives some good reasoning.

tl;dr: With regular JSON you'd have to read the entire file to parse _or add_ a single record.

[2021-07-20 15:00] TomHennen opened #47 "Create a predicate to convey information about source control system security settings."
It would be nice to have a predicate that could indicate the security posture of a given commit from a source control system.

Specifically it would be nice to be able to convey the requirements of the [SLSA Source Control requirements](https://github.com/in-toto/attestation/blob/main/spec/predicates/provenance.md).

[2021-07-20 16:58] TomHennen opened #48 "Create a protobuf schema for Statement & Predicates"
It would be helpful to have a protobuf schema that, when using JSON serialization, produces valid in-toto Statements & other predicates.  (Similar to what was done with [the DSSE envelope](https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto).)

[2021-07-20 17:17] letmaik commented on #48
Wouldn't JSON Schema make more sense? This would allow to describe fields and also get some level of (mostly structural) validation no matter how the JSON came into existence.

[2021-07-20 17:19] TomHennen commented on #48
Maybe that too (it could be authoritative)?  We just have some users that want to work with protobuf and are trying to define their own proto schema but getting some bits wrong.

[2021-07-20 21:19] trishankatdatadog commented on #38
I guess my only concern right now is that it can become a bit unwieldy with very large payloads.

[2021-07-21 13:44] TomHennen commented on #38
Updated the PR summary to include a description of why we're choosing JSON Lines.

Also added a [Viewing Bundles](https://github.com/in-toto/attestation/blob/781fdd1f74214577342d354502d43f8699812200/spec/bundles.md#viewing-bundles) section to bundles.md to show a good way for dealing with large attestations (I think this is what you were suggesting might be hard?).

[2021-07-21 13:57] #38 closed

[2021-07-21 19:46] SurferJeffAtGoogle opened #49 "Add redirect from https://in-toto.io/Attestation/v0.1 to the spec"
Linked from https://github.com/in-toto/attestation/blob/main/spec/predicates/provenance.md

[2021-07-21 19:49] MarkLodato commented on #49
@SantiagoTorres is it possible to set up the in-toto.io website to redirect the type aliases to the canonical definitions?

[2021-07-21 19:51] SantiagoTorres commented on #49
Hmm, I wonder if we could instead make a template to render markdown of the spec for each attestation...

[2021-07-21 19:51] SantiagoTorres commented on #49
Let me dig into this tonight and propose a way fw...

[2021-07-21 23:42] msuozzo commented on #47
Per our discussion today, one idea which could leverage existing tooling would be to publish [scorecards](github.com/ossf/scorecard) (or some derivative representation) somehow encoded in a predicate. Whether at a given commit (can analysis be done per-branch?) or just a point-in-time, this could encapsulate a number of the SLSA Source requirements in a single structure.

Doing this analysis coinc

[2021-07-22 12:55] TomHennen commented on #47
This is an interesting idea and could have other benefits.

Thanks for outlining the concerns w.r.t. the current Scorecards architecture, we'd definitely need to address those if we pursued this route.

Regarding Retention History, this is an interesting one that, unlike many of the others, could be resolved by the _consuming_ org and doesn't necessarily need to be addressed by the original source

[2021-07-26 15:55] MarkLodato commented on #47
Adding it to the scorecard would be a good idea. (Does GitHub have such a knob though?)

I also agree that a system _could_ alternatively satisfy the SLSA requirement by having the build system retain the sources instead of the source system.

To clarify, there [two types of privileged access](https://github.com/slsa-framework/slsa/issues/110):
- "data owner", which is project-specific
- "system a

[2021-07-26 19:12] MarkLodato opened #54 "Move Provenance to SLSA repo"
The current Provenance predicate is described as a generic way to express provenance, but it was designed expressly for [SLSA](https://slsa.dev/). It makes certain assumptions and trade-offs, such as carefully designing the fields to avoid mistakes when applying a SLSA policy. Other use cases of "provenance" may make different trade-offs, such as including the list of build steps that were perform

[2021-07-27 08:14] joshuagl commented on #54
Moving predicate definitions out of this repo makes sense to reinforce that this is the format definition and to encourage definition of use-case specific predicates.

Do you think there would need to be any categorisation or review of predicates we link to?

[2021-07-27 09:21] MarkLodato commented on #54
Perhaps eventually, if we get a lot of them. Initially I'm assuming there will only be a few.

[2021-07-27 13:18] TomHennen commented on #47
Oh, I'd like to add that I think there are some questions with respect to scorecards:

1. Could Scorecards issue the required attestations instead of requiring it of the Source control system.
2. Should the issued attestation include all scorecard data (going beyond what SLSA needs to check the SLSA requirements).

For 1 the problem I see is how builders know where to get the attestation.  Interna

[2021-07-27 15:46] TomHennen commented on #54
This makes sense to me.

[2021-07-28 13:20] MarkLodato commented on #43
Thanks @priyawadhwa! Sorry for the delay in reviewing - I was OOO.

This doc is really helpful! Though it is not stated explicitly, it seems like there are a few reasons why you are suggesting this new predicate over the current one:

1. The name `recipe` was misleading, so you renamed it to `invocation`.
    * LGTM. I think perhaps this caused much of the confusion. As a data point, Chrome's [LUC

[2021-07-28 13:31] dlorenc commented on #43
I think we can close this issue actually, the Tekton format has been merged and implemented over here: https://github.com/tektoncd/chains/blob/main/PROVENANCE_SPEC.md

We can send a PR here to add an entry to the list from #54 when the list is created.

[2021-07-28 13:31] #43 closed

[2021-07-29 13:46] TomHennen commented on #54
I like that idea.

I guess it would take the form of some doc that gives a blub about the predicate and links to wherever it's actually defined.  Is that what you're thinking?

Do we have agreement on this?  If so I can move 'Provenance' to the SLSA repo and create an initial doc of predicates.

[2021-07-30 13:13] adityasaky commented on #54
I think that makes sense, and we can formalize any review processes we feel is necessary when we have more predicates as @MarkLodato said.

[2021-08-02 17:32] TomHennen opened #56 "Where to put implementations?"
Does anyone have an opinion on where implementations of the in-toto Attestation should go?

We need to create a Java implementation that handles the 'Provenance' predicate (soon to move to the SLSA repo), in an in-toto Statement (this repo), wrapped in a DSSE envelope.

The existing [in-toto-java repo](https://github.com/in-toto/in-toto-java) seems to handle the existing link format (but not DSSE,

[2021-08-02 20:57] TomHennen commented on #56
We could add it to the existing Java implementation or as a separate lib within the Java repo, etc...

[2021-08-02 21:15] Alos commented on #56
For this new implementation, we would like to use more of the ipso facto Java standards and remove nested public classes, remove underscores from package names and perhaps update some of the implementation to more modern solution so that others can more easily use it.

[2021-08-03 20:40] Dentrax opened #58 "[Help Wanted] Determine attestation format for vuln scans"
This is a follow-up issue for the https://github.com/sigstore/cosign/issues/442.

I thought it would be more appropriate to continue the discussion for the aforementioned issue, since the spec is non-cosign-related.

---

With @developer-guy, we are currently trying to determine a _vuln scan spec_, as far as we can do best. We can enrich the following brand-new attestation SPEC:

[code]

We called

[2021-08-03 21:13] TomHennen commented on #56
I spoke with @SantiagoTorres today and he suggested that it would be best if implementations could go in existing in-toto repos if possible.  If desired they could sit alongside the current in-toto link implementation, but they could also go in a custom branch.

I also spoke with @Alos and this sounds fine to him.  He's going to submit an issue to the in-toto-java repo documenting his plans and th

[2021-08-03 21:13] SantiagoTorres commented on #56
SGTM!

[2021-08-04 05:59] developer-guy commented on #58
We (w/@Dentrax) have a concern about this spec because as you can see there is a `result` section in the list of scanners.
- What if one of the scanners takes too much time to do its job, should we wait for its job to finish?
- So, is it important to get the scanner result from the pipeline, or is it enough to get just the steps that an image passed?

[2021-08-04 14:27] MarkLodato commented on #58
Hi @Dentrax and @developer-guy!

My biggest recommendation is to decide on a few critical "user journeys" and figure out exactly how the attestation will be used in those cases, both generation and consumption. The consumption piece is particularly important. Figure out exactly how a consumer will take this attestation and make a decision on whether the image is acceptable or not. Assume that some

[2021-08-04 17:55] TomHennen commented on #47
Talked with @msuozzo about this briefly.

It seems it would be reasonable to have two attestations

One predicate type for observed source security properties of some source control system.  This could be issued by Scorecards for some GitHub repo for example.  Another predicate type for attestations issued by the _source control system itself_.  These will each answer questions like "how do I know

[2021-08-04 17:59] MarkLodato commented on #47
Seems reasonable to me, including moving to the SLSA repo since it is mostly SLSA-specific.

[2021-08-04 18:43] mlieberman85 commented on #47
Could you pull down an assertion of the config based on the commit hash?

[2021-08-04 18:46] TomHennen commented on #47
Yes, that's exactly what I'm thinking!  Though it may only apply to commit hashes that have been merged to certain branches.

[2021-08-04 18:53] mlieberman85 commented on #47
Once upon a time we did something similar with Gerrit where we could associate Gerrit change-ids with the configuration by which we were managing merges. This decoupled it from the commit itself since you could modify the commit and still have same change id. I wonder if other source code control systems like github have unique identifiers for stuff like PRs you could do that same sort of correlat

[2021-08-04 19:25] #54 closed

[2021-08-04 19:33] adityasaky opened #60 "Create an index of predicates"
Related to #54

With the provenance predicate moved to the SLSA repository, there was talk of creating an index of predicates that we can link to here. While we have few predicates now, it's likely worth discussing now how this index should work, and the formal processes surrounding the adding predicates to the index and keeping them updated long term. What sort of review mechanisms do you envisio

[2021-08-06 13:38] developer-guy commented on #58
hello @MarkLodato thank you so much for your suggestions, we (w/@Dentrax) revised our spec according to your suggestions. The following predicate specifies our specification:

[code]

[2021-08-06 14:21] MarkLodato commented on #58
Hi @developer-guy, that schema looks good to me. One question: is `scanner.result` a JSON object or a string containing JSON?

[2021-08-06 14:24] developer-guy commented on #58
Hi @MarkLodato, it should be a JSON object, I think this option would be better, right, wdyt?

[2021-08-06 14:31] TomHennen commented on #58
Is 'materials' meant to show the thing that was scanned or an image used _by_ the scanner.

Should 'materials' use [DigestSet](https://github.com/in-toto/attestation/blob/main/spec/field_types.md#field-type-definitions) as the type instead of embedding the type (sha256) and the hash together in one string?

Can the timestamps in metadata use RFC 3339 for timestamps?

Is there a Package URL or SPDX

[2021-08-06 15:03] Dentrax commented on #58
Exactly!

Oh, yes. We missed that.`digest` field should be in _DigestSet_ format. In this case, it should be like the following:
[code]

Good point. In such a case, we should use `string` type instead of `integer` format:

[code]

That makes sense. I think you're proposing to add something like `pkg:pypi/django@1.11.1`. In this case, should we add a new field to `materials`? (i.e., `pkg`)

I'm not

[2021-08-06 17:41] TomHennen commented on #58
I don't think you need a new field, I believe the idea is that go in uri e.g.

[code]

I think @MarkLodato may know better however.

[2021-08-10 08:41] developer-guy commented on #58
we (w/@dentrax) updated the spec according to your recommendations @MarkLodato @TomHennen, WDYT about the latest updates, if you agree on the spec, we can start to work on implementing it to the in-toto attestations repository, then we will continue to discuss in PR?

The following are explaining the summary of what we have done:
* We have used [Package URL](https://github.com/package-url/purl-spe

[2021-08-10 14:44] mlieberman85 commented on #47
Has anyone looked at this sort of approach? https://github.com/crev-dev/cargo-crev + https://github.com/crev-dev/crev. Someone from OpenSSF pointed me in this general direction.  Haven't used or checked out the tools but the approach seems reasonable.

[2021-08-10 15:07] MarkLodato opened #63 "Explain why we recommend PURL and SPDX Download Location"
Right now the docs simply recommend PURL and SPDX Download Location without explaining why. We have had a question for the rationale behind this suggestion.

Draft:

- SPDX Download Location covers version control systems. There is no standard way to reference a git repo via a URI (and identify that it is git). SPDX Download Location is one of the most popular way of doing so, so we chose that.
-

[2021-08-10 18:29] dlorenc commented on #58
I don't think we need this here. The scanning service should encapsulate all of that.

Same as above.

I think the `materials` section can actually get dropped from here though, and you might have misinterpreted Tom's reply above. The target (image that gets scanned) would be represented in the subject field of the `Statement`, not here in the `Predicate`.

[2021-08-10 18:45] TomHennen commented on #58
Agreed.

I think that's right.  If you really want to include provenance data on _the scanner itself_ then you could emit SLSA provenance for that.  My guess is that the consumers of the vuln scan probably don't care about exactly how the _scanner_ was built, they just care about the results of the image scanned.  It would probably be useful to have the SLSA provenance _available_ but I don't thin

[2021-08-10 20:22] MarkLodato commented on #49
For reference, we defined https://slsa.dev/provenance to redirect to https://slsa.dev/provenance/v0.1, which is where we serve the docs via GitHub pages.

For the in-toto Attestation spec, you could either do the same or just redirect to GitHub.

[2021-08-10 23:15] aysylu commented on #58
@Dentrax @developer-guy couple questions about the spec proposal as of [this version](https://github.com/in-toto/attestation/issues/58#issuecomment-895844398):

1. Is `db` field meant to represent the vulnerabilities database from which the scan results were produced?
2. What kind of representation do you plan to use for the `result`?
3. In the `metadata`, would you ever need to capture the scan s

[2021-08-11 06:33] Dentrax commented on #58
Right. (i.e., https://github.com/aquasecurity/trivy-db)

What should we do if scanner uses _multiple_ DBs? Should we change the format of `db` from `obj` to `array`? 🤔

Most scanner have a support for [SARIF](https://docs.oasis-open.org/sarif/sarif/v2.0/sarif-v2.0.html) format. So we can append this into `result`.

As far as I understand, you meant "What will happen in case of scanner exits with n

[2021-08-11 06:49] developer-guy commented on #58
thanks you @TomHennen @dlorenc  for your suggestions, we are truly grateful for your help.

According to that, we should remove the `materials` section from the predicate itself. Because there is an `SLSA provenance` that can be more helpful for us. Then the spec would become the following:

[code]

cc: @Dentrax

[2021-08-11 13:29] TomHennen commented on #47
Took a quick look at crev, it does look interesting.  So far we've left it up to the source control systems as to how they want to handle requiring reviews.  It looks like the intention of crev might be to review the entire package, not just changes? "Crev is an actual code review system as opposed to typically practiced code-change review system."

I could imagine people providing reviews over a

[2021-08-11 19:59] adityasaky commented on #58
Hi Tom, thanks for the ping. I don't have a strong preference for where this should go _yet_. Looking at the spec, it seems, to my eyes, to be quite general. I understand the concern with the provenance spec was that it was expressly designed for SLSA, which I think isn't the case here.

[2021-08-12 14:59] MarkLodato commented on #58
@developer-guy Looking at the SERIF spec, it seems like most of that data is already found within the SERIF result. For example, the timestamps, scanner binary and version, and invocation are all there. It would be good to de-dupe and only add the minimum amount necessary that's not there (or add it to SERIF).

It looks like what is missing is the hash of the binaries (scanner and db), which would

[2021-08-16 10:11] Dentrax commented on #58
Trivy, for example, we need to pass a `--template` flag in order to generate SARIF output and able to get the _driver (scanner)_ information. (i.e. name, version, URL (please notice that we do not have the DB information here)):

[code]

[code]

Actually, most of the scanners can able to generate their own output _JSON_ format. We can use that `result` field to support both of _custom JSON_ JSON a

[2021-08-16 12:18] TomHennen commented on #58
My thought is that it would be easier for consumers if there were a different predicateType for each type of the 'result' object.  I'm assuming some consumers won't know how to interpret all of the various types.  Having a different predicateType will let them easily filter out the ones they don't support.  If you do support multiple different types in the result field then you need some way to in

[2021-08-17 12:43] TomHennen commented on #47
Added the slsa-provenance label because this is pretty related to SLSA (it's about the SLSA source requirements) so we might want to move it to the SLSA repo...

[2021-08-24 06:52] developer-guy commented on #58
Yeah, you are absolutely right, we have to provide a way for consumers to indicate the type of the result and the `predicateType` field is the best way to do it.

[code]
WDYT @dlorenc @Dentrax @TomHennen?

[2021-08-24 11:06] dlorenc commented on #58
we don't actually need the + syntax because this isn't a media type, so something ilke this would work:

"predicateType": "https://sigstore.dev/v1/VulnerabilityScanResult/sarif"

[2021-08-24 12:32] developer-guy commented on #58
thank you so much for warning us @dlorenc, let me fix that:

[code]

[2021-08-24 13:45] developer-guy commented on #58
I thought that we can store the result information somewhere else instead of writing it to the spec to avoid having a long spec:

[code]
instead of the above one, we can use other locations to store these results, so we can reference through them like the following:

[code]

[2021-08-24 13:47] TomHennen commented on #58
The downside of just including the URI is that now anyone that wants to evaluate this information needs to go fetch it.  That may not always be possible, especially if there are tight latency requirements around making a decision.

Could you just reference that spec instead of having to duplicate it here?

[2021-08-24 13:48] TomHennen commented on #58
Oh, you also have to worry about if the entity evaluating the attestation has _permission_ to retrieve the results.

[2021-08-27 15:44] trishankatdatadog opened #64 "A good TLDR for attestations"
It wasn't clear to me until the community meeting today that attestations are a _superset_ of classic in-toto links. Each attestation is simply like a standardized protobuf for certain types of additional information. Would be good to clarify this as TLDR in the README?

[2021-08-27 15:46] trishankatdatadog opened #65 "How do attestations change what verifiers are expected to support?"
An issue raised in the community meeting today is that it's not yet entirely clear how [ITE-6](https://github.com/in-toto/ITE/blob/master/ITE/6/README.md) aka attestations change what verifiers are expected to support by default.

For example, Santiago suggested that verifiers should support classic link "attestations" by default, and the community should decide how to add support for the rest.

[2021-09-02 12:40] TomHennen commented on #58
My personal opinion:

1. Inline the results directly in the attestation.
2. Have a different predicate type for different results types (e.g. sarif vs json)
3. Send a PR?

[2021-09-13 18:37] MarkLodato commented on #64
Sure! Mind suggesting some wording?

[2021-09-28 13:13] MarkLodato opened #67 "Support attestation revocation"
It would be useful to have a mechanism for revoking specific sets pf attestations without having to revoke an entire key. A real-world use case is that a builder had a bad release and generating bad provenance for a short period of time. We'd like to revoke the provenance generated only by that bad release, without having to do a full key revocation, since the latter would have a much larger negat

[2021-10-07 12:33] Dentrax commented on #58
Thanks for kind words. @joshuagl Everyone here is so passionate 🤗

We agree with you. We should determine different predicates for each result types.

Actually the idea behind this is that we can track the total duration for the whole scan process. It's just for tracing purposes, i don't think it's related to security, however, I'm not sure whether this duration matter or not, or, how can we dig i

[2021-10-08 18:26] SurferJeffAtGoogle opened #69 "Authenticated how?"
The README says:

How is the metadata authenticated?

[2021-10-09 23:26] SantiagoTorres commented on #69
Hi, the metadata is authenticated by means of a signature that corresponds to a public key that belongs to a claimed functionary (e.g., a software developer, an ephemeral build process or a hosted service).

[2021-11-02 06:11] developer-guy commented on #58
Any updates @Dentrax @TomHennen @joshuagl? What should we do to determine the final Vuln spec? What's left? If everyone agrees on this spec, should we open a PR and start documenting it?

[2021-11-02 12:27] TomHennen commented on #58
A PR sounds good to me.

[2021-11-02 20:23] MarkLodato commented on #41
Sounds like there is agreement that URl makes sense. I'll close this issue but please reopen if I misjudged.

[2021-11-02 20:23] #41 closed

[2021-11-23 13:41] dn-scribe opened #74 "Question: Support of multiple SBOM formats."
Hi,
I'm new to the conversation, hope not repeating a closed issue (didn't find such):
The current SPDX predicate is SPDX specific. This does not comply to the "separating statement from predicate" goal; suppose one wishes to use CycloneDX; she would need to define a new predicate "cyclonedx". Thus a policy engine cannot query "was an SBOM attestation created?", without parsing the actual sbom obj

[2021-11-23 13:43] dn-scribe commented on #74
Sorry for the confusion, what I meant was : Thus a policy engine cannot query "was an SBOM attestation created?" without caring about the SBOM format.

[2021-11-23 14:24] MarkLodato commented on #74
What you are suggesting is a trade-off: add complexity in the general use case (having to check two separate type fields every single time you use the attestation) in order to make one particular check easier (`predicateType == "sbom"` vs `predicateType in ["spdx", "cyclonedx", "swid"]`).

I don't know enough about the SBOM ecosystem to know whether that trade-off is valuable, but my guess would b

[2021-11-23 19:24] dn-scribe commented on #74
Of course checking three possibilities is not an issue; but since the SBOM ecosystem is young, suppose someone comes up with a forth possibility; even the simple policy "Is there an SBOM" will have to be modified.

In similar cases it would be a more serious problem. Suppose an attestation regarding a source control platform. In this case we would have an attestation for GitHub, CircleCI, TravisCI

[2021-11-24 13:07] dn-scribe commented on #46
Following the rational of separating statements from predicates - one could imagine a policy of "Must have a fresh attestation", or  "order of attestations to sub-processes should be 1-2-3" .

I think there is a more important subject behind the timestamp issue - which is the context of the attestation (the timestamp is only one component of such a context). In SLSA v.2 environment object can suff

[2021-11-24 15:07] dn-scribe commented on #58
Question:
Why not simply use SBOM format? both SPDX and CycloneDX support incorporating CVE's in an SBOM, and as a matter of fact the SBOM can be dedicated to CVEs and host only vulnerable packages and their CVEs.
This resonates with issue #74 (support multiple sbom formats) - maybe support also a subtype, for example: sbom type: spdx, sbom subtype: vuln

[2021-11-24 16:53] SantiagoTorres commented on #58
Hmm, I'm curious if you know of a scanner that can output an SBOM as part of the scan? It'd be certainly an interesting use-case for it

[2021-11-25 06:57] dn-scribe commented on #58
Well, looking [here](https://cyclonedx.org/tool-center/) (search the word vuln) you can see that the use of SBOM to document vulnerabilities has traction.
Anyway, since also SARIF supports that, and I imagine there are more formats, it makes sense to support a few formats.

I come to understand the predicate type has two contradicting purposes:
1.  Following the statement-predicate separation, the

[2021-11-27 17:11] SantiagoTorres commented on #58
Hi!

I'm not sure I understand. Do you mean to say "this predicate type" rather than "the predicate type"? I'm assuming so, let me know if I'm wrong.

1.  The separation allows for different levels of policy enforcement (i.e., first I trust it (signature type), then I verify I expect an attestation of this particular artifact in the chain (subject, issuer), then I verify the evidence presented fol

[2021-11-29 14:15] MarkLodato commented on #74
Again, this adds complexity. It's not free. Could you expand on why someone will want to check that an SBOM exists, even in a format they don't recognize? Wouldn't they also need to check that it meets some sort of minimum criteria, in which case they need to parse it?

Note that this sounds somewhat similar to #2, which talks about a generic "inheritance" or "subtype" model.

Regarding source con

[2021-11-29 16:48] dn-scribe commented on #74
**Regarding** the spdx vs sbom:
I'm following the logic in the [reasoning section of the in-toto attestations](https://github.com/in-toto/attestation#reason-for-separate-statement-and-predicate-layers) - mentioned there is a generic requirement to test validity of attestations (i.e. that the attestation exists and was signed by an authorized entity), without knowing the predicate structure.

I thi

[2021-11-30 11:34] dn-scribe commented on #74
A note to what I've written above: Although the SLSA example is of provenance and not SBOM, the same logic applies - we see that requiring an attestation without verifying it's content is common.

[2021-12-04 01:12] marcelamelara opened #76 "Add support for SCAI predicate"
Per my discussions with @SantiagoTorres and @MarkLodato, I'm opening an issue to get this discussion going on a broader forum.

CDI (or Code Deployment Integrity) is a framework for high-integrity provenance for software artifacts. CDI enables verifiers to make trust decisions about artifacts based on attested code _properties_, and enables verifiers to additionally establish trust in the attester

[2021-12-04 01:22] marcelamelara commented on #76
Seeing #15, it looks like there may already be some work to add support for the feature 3 I described above, which is awesome.

[2021-12-04 01:29] marcelamelara commented on #15
I'd be interested in exploring this further, especially in the context of adding support for CDI. I also saw https://github.com/slsa-framework/slsa/issues/46. What is the status of these issues?

[2021-12-05 18:52] adityasaky opened #77 "Defining a generalized predicate format for "reviews""
We started discussing what code review attestations should look like, and @iamwillbar suggested checking if we could define a generalized predicate for reviews. We could then derive code review and other formats (perhaps vuln scans like #58) from this general predicate. As a starting point, we've potentially got the following sections in the predicate.

### Meta Information (better name?)

In the

[2021-12-07 05:54] mlieberman85 commented on #28
My comment is also related to #29 .

I think there is another big reason we should also look at maybe using MediaTypes/Content type or schema URL (for some use cases?) for `subject` and `materials` as someone doing an audit against an attestation might use automated tooling to fetch the associated `subject` or `materials` to do some additional validation or perform various tasks.

A more specific

[2021-12-07 17:18] MarkLodato commented on #15
I don't know of anyone working on this at the moment. It's just waiting for someone to have the time to do it, relative to the other issues :-)

[2021-12-08 09:28] developer-guy commented on #58
Hello folks, there is a cross-issue on cosign side, please [see](https://github.com/sigstore/cosign/issues/442#issuecomment-988638796). We want to start working on this to implement, at least, move forward with baby steps because IMHO, there is a great potential of doing this. WDYT about the latest spec we defined, are there any updates, or additions, please tell us, then we can complete the final

[2021-12-08 11:32] dn-scribe commented on #77
I suggest first create a list of possible policies, some examples that are inline with your thoughts. Additions are welcomed. (in parenthesis - requirements from the code review predicate):
**At the statement level:**
1. Do not push code without a code review . (The statement level should answer that)
2. Code reviews shall be done by authorized personnel (The statement level should answer that)

*

[2021-12-08 13:13] adityasaky commented on #77
Isn't this the goal of the subject (at the statement level)?
Since the attestation format allows for multiple subjects the code review attestation could require a subject at the project level (project name or PR ID and additional subjects - artifacts.

It is! In my mind, I was trying to separate out the _types_ of artifacts. IMO files and packages have some reasonable answers, but I'm more curious

[2021-12-08 13:59] TomHennen commented on #58
Do you mean the one [we were discussing here](https://github.com/in-toto/attestation/issues/58#issuecomment-957128717)?

If so IIRC everything sounded fine generally.  Can you send a PR to hash out the details?

[2021-12-08 14:13] TomHennen commented on #77
I agree with @dn-scribe that it probably doesn't make sense to combine vuln scans and code reviews in a single type.

I also agree that leaning on the VCS (or code review system) semantics for code review makes sense.  In my mind each could have been separate 'types'.  Is the desire to have a generic way to determine if a given commit was reviewed regardless of the VCS/review system used?

Where d

[2021-12-08 14:43] TomHennen commented on #47
[Here's a proposal](https://docs.google.com/document/d/10B-8R3NIGvcPuoIhqb-p18oOe78m6SiiukfE7NyvnYQ/edit#) for attestations that the VCS can issue to attest to the security posture of the source in a given repo.

Join [slsa-discussion](https://groups.google.com/g/slsa-discussion) to get access to the doc without needed to request access!

[2021-12-08 18:28] dn-scribe commented on #58
**Predicate type issue**

Sorry' but I meant "The predicate type field in any statement". I understand  the different levels manifest as different entities, which are interested in different levels of enforcement; sometimes there is only a need to verify that an attestation of a certain statement exists, and sometimes there is need to verify specific details that are deep in the predicates.  In ot

[2021-12-08 18:32] dn-scribe commented on #58
Sorry, the above is response to @SantiagoTorres  [above](https://github.com/in-toto/attestation/issues/58#issuecomment-980719726)

[2021-12-09 06:49] dn-scribe commented on #58
I mixed sbom and vuln scan ...
What I meant was:

To move forward, and until the metadata issues is resolved, I recommend to define: predicate type - sbom, and have a separate mandatory field in the sbom predicate object - predicate_media_type
The first media type could be "http://sigstore/.... /SARIF" (of course - the whole long uri)

What I meant was predicate type - **vuln scan**
predicate medi

[2021-12-11 23:07] adityasaky commented on #77
Given the consensus about handling vuln scans and the like independently, I'm going to generalize this to handle "human reviews", as @iamwillbar suggested. I'll rewrite the original issue to reflect this.

In my mind, I think we can lean on ITE-4 semantics here, and talk in abstract, VCS-agnostic terms when defining how CRs for a particular change work. I've primarily used git, and I'm guessing me

[2021-12-13 16:00] TomHennen commented on #77
I suspect we might need to consider both VCS semantics as well as the code review system semantics.  My understanding is that Gerrit and GitHub reviews work differently.  Is that right?

I'd be wary of _just_ taking this approach.  For repos that are old and have had lots of reviews that could result in thousands of attestations for each repo that need to be evaluated at the time of use.  The veri

[2021-12-17 04:20] adityasaky commented on #77
I actually plan to use some time this coming break to review some of the popular systems / services to understand how much we can abstract. I should have a better answer then.

That's a great point. I do wonder if we can use something akin to a [summary link](https://github.com/in-toto/in-toto/blob/4d1065a33bbc62bf6a9e5148cd15bea14c9dd03a/in_toto/verifylib.py#L1339), but instead to replace some si

[2021-12-20 16:50] SantiagoTorres commented on #58
Sure, this is something that was handled by in-toto since its inception.

As for the contradiction:

"predicate type":"sbom"
In this option, a policy verifying that there exists an SBOM attestation can be implemented without need to be aware of the SBOM format, and when a new type emerges - the same policy will hold.

"predicate (media) type": "SPDX\SPDX-LITE\CycloneDX\SARIF"

I do not think that

[2021-12-21 08:19] dn-scribe opened #78 "Attestation Context\Meta-data\Meta-information"
Following #58 [here](https://github.com/in-toto/attestation/issues/58#issuecomment-998099897), opening the mentioned issue.

The statement-level meta-data should hold enough information to enable:
1. Simple policy decisions that are agnostic to the predicate details.
2. Enable a first level of indexing of the attestations for later recall.
3. Enable parsing of the predicate.

The current mandatory

[2021-12-21 08:40] dn-scribe commented on #67
I agree that revocation should be at the attestation level.

Suggestion: Use an attestation:
Create a new predicate type: attestation-revocation-predicate, that would define that an attestation or a group of attestations that adhere to some criteria (e.g. time frame) are revoked. Naturally it could be signed by an authorized entity and a policy could enforce that.

It will be the user's responsibi

[2022-01-04 00:42] mattmoor commented on #46
For context-sensitive `timestamp` properties, I completely agree that they belong inside of the `predicate` itself.

However, I think there is significant value in having a standard mechanism for attaching standard timestamp metadata such as `exp` (and possibly `nbf`) to statements.  As a vehicle for authenticated claims, not having a clear way to specify its window of validity seems like a hole.

[2022-01-04 10:36] dn-scribe commented on #46
So, if I understand, you suggest to add a group of timestamps - exp, nbf, so it makes sense to also add a "created at" option.

[2022-01-04 15:22] MarkLodato commented on #46
I'm not convinced "expires at" and "not before" make sense for most predicates. I think it only applies to a single class of predicates, namely those that I would call "authorization". Consider the main classes predicates being discussed today:

* Provenance: subject X was built by Y at time T
* Code review: subject X was reviewed by Y at time T
* Test result: subject X passed test Y at time T
* V

[2022-01-04 16:27] TomHennen commented on #77
Would it make any sense to start with some definition of the policies we'd like to evaluate on these predicates?

[2022-01-07 18:04] adityasaky commented on #77
Makes sense, starting with https://github.com/in-toto/attestation/issues/77#issuecomment-988733291?

[2022-01-10 20:49] TomHennen commented on #77
That is a pretty exhaustive list of things that could go into an attestation.  Do we have any thoughts about who the audience for the attestations would be?  Would the goal be for it to cross organizational boundaries and still be understandable?  E.g. would a list of participants that maps to DevOps, QA, etc... make sense outside an organization where people have different policies for code revie

[2022-01-11 20:17] TomHennen commented on #28
I think there's some benefit to having the ability to differentiate more, I'm not totally sure that having a _separate_ 'digest kind' field is the way to do it.

Instead of supporting pairs, why not just support separate types?  In the git case that actually lets us list both the commit and the blob hash.

E.g.

[code]

If the subject only specifies 'sha256' then that should be interpreted as a st

[2022-01-11 20:19] TomHennen commented on #28
Oh, I should add that it would be nice to be able to use this mechanism _anywhere_ DigestSet is used, not just in the subject field.

[2022-01-11 20:24] TomHennen commented on #25
Just taking a look at this after thinking about log4j.

I think your suggestion is good.  One reason we don't want to include everything in the build infrastructure in the provenance is that the _builder_ might use log4j to log properties of the build, but _not_ include log4j in the built artifact.  If log4j were to be listed in materials then it would appear that everything that builder created w

[2022-01-12 16:19] mlieberman85 commented on #28
So, they're related issues but might be solved in different ways. It sounds like there are two problems here.

1. I don't know what a digest actually refers to in some contexts, e.g. is it a commit sha, a hash of all the files, a recursive hash?
2. I don't know what the kind of thing a subject, material, etc. is. e.g. is it an arbitrary json, is it a cyclonedx sbom in json format, is it an unknown

[2022-01-12 18:59] MarkLodato commented on #28
We now have one: [CVE-2021-41190](https://github.com/opencontainers/distribution-spec/security/advisories/GHSA-mc8v-mgrf-8f4m). I'm hoping to have a more detailed writeup within the next few weeks, but below is a brief summary. Note that this is a very realistic and easy attack. It has been patched in most major registries by disallowing these "chimera" images, but a similar vulnerability is bound

[2022-01-13 01:07] adityasaky commented on #77
That's a good question. I'd like to hear everyone's thoughts, but going back to @dn-scribe's comment above, I can see a couple of usecases where source control attestations may not suffice. For example, here we could verify that a person defined in a `CODEOWNER` file reviewed a particular PR (as of a particular commit), allowing more granularity than just the set of people who have the commit/merg

[2022-01-21 17:42] jul-sh opened #81 "Should the predicateType's hash be included as a digest?"
Per https://github.com/in-toto/attestation/blob/main/spec/README.md, the `predicateType` value should be a [TypeURI](https://github.com/in-toto/attestation/blob/main/spec/field_types.md#TypeURI) that defines both the shape and meaning of the predicate.

Unlike most other URIs used in in-toto, the hash of the `predicateType` does not seem to be recorded in the attestation.

I would be curious why t

[2022-01-21 19:29] MarkLodato commented on #81
That's a reasonable concern, but you'd need to figure out what to actually hash.

1. The TypeURI is just a unique identifier that need not resolve to anything. The recommendation is to point it to human-readable documentation, but this is not required. Thus, you'd need to clarify what needs to be hashed, and state whether the URI must resolve to the thing-to-be-hashed.
2. What is the input to the

[2022-01-21 22:59] jul-sh commented on #81
Thanks for your reply, @MarkLodato! All good points.

I agree that making cryptographic verification fully compatible with the currently very permissive spec for `predicateType` seems challenging. The case of SLSA pointing to an HTML document is a good example. Documenting the hash of a HTML response seems like it might even do more harm than good, considering that the meaning of said document is

[2022-01-24 12:14] jul-sh commented on #81
For additional context why trusting needing to trust `predicateType` / `buildType` author may be a problem in more advanced situations: one of the areas relating to attestations we're looking into is authorization logic. In essence that means taking multiple attestations (including by different authors and of different types), and combining them.

A simple example attestation logic: take an Attest

[2022-01-24 22:04] colek42 commented on #77
Relevant:  https://paragonie.com/blog/2022/01/solving-open-source-supply-chain-security-for-php-ecosystem

We are looking to create a "code review" attestation for witness.  The prior work by the PHP team looks like it could fit our customers' needs.

We plan on using some sort of user auth flow (OIDC) to sign the attestation collection we create.

`witness sign commit --key-provider=fulcio --revi

[2022-01-25 18:36] MarkLodato commented on #81
Thanks for expanding, @jul-sh. I agree that it is a desirable property, but it probably comes down to the concrete proposal. Feel free to propose something that we can discuss. IMO just adding a `digest` field would be confusing and likely lead to mistakes, so the proposal would probably need to be prescriptive on how exactly to use such a field. For example, it could mandate using JSON Schema and

[2022-01-25 18:49] jul-sh commented on #81
thanks for your reply and input @MarkLodato! I definitely agree that it's not as simple as adding on a `digest` field to the existing approach. My main goal by raising this was to get more context and opinions on the concern. I definitely feel like I have those now.

I'll sync with my team to see if we're interested in making a concrete proposal. In lieu of that we can patch a hash onto our specif

[2022-01-25 18:57] MarkLodato commented on #81
Let's leave it open because it's a legitimate concern.

[2022-01-26 09:41] tiziano88 commented on #81
Could we just use a plain hash **as** the `predicateType` URI? e.g. it may be set to `sha256:f3e737f4d50fbf6bb6053e3b8c72d6bf7f1a7229aacf2e9b4c97e9dd27cb1dcf` (which I believe is a valid URI), and we assume it will be resolved to the actual content via some other mechanism (e.g. shameless plug for https://github.com/google/ent , but anything with that shape would do). I believe this does not requi

[2022-01-26 10:35] jul-sh commented on #81
@tiziano88 That specific scheme of recording a hash wouldn't technically comply with the `predicateType`'s Type of https://github.com/in-toto/attestation/blob/main/spec/field_types.md#TypeURI. It defers to RFC-3986, under which a URI must use one of the following schemes: https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml

But the general approach is worth considering for a future prop

[2022-01-26 11:01] tiziano88 commented on #81
You are right, the only draft I could find is https://github.com/hash-uri/hash-uri , but it seems it never went anywhere.

[2022-01-26 11:15] jul-sh commented on #81
@tiziano88 A few alternatives to do this do exist that would be worth considering for a possible proposal. Eg https://datatracker.ietf.org/doc/html/rfc6920 seems to do basically what you suggested. An IANA registered URI scheme (`ni://`), creatively named "Naming Things with Hashes". 😅

[2022-01-26 12:43] MarkLodato commented on #81
Yes, I recommend experimenting with `ni://`. You beat me to it 😄

[2022-01-26 17:17] TomHennen commented on #77
That makes sense to me.  One thing that could be clarified is what scope each of those statements apply to.

E.g. does 'code-review' apply to just a single change while 'sec-audit' applies to the entire repo?

[2022-01-26 17:23] joshuagl commented on #77
The scope in Gossamer is a versioned release (see [their docs](https://github.com/paragonie/libgossamer/blob/master/docs/specification/Protocol.md#attestupdate)). It's all fairly loose at the moment, though.

[2022-01-26 17:31] TomHennen commented on #77
Gotcha.  So I think it would be pretty easy to create a predicate type that indicate the various items mentioned above.  It should probably be clear about what the scope is.  Something like...

[code]

[2022-01-26 21:24] joshuagl commented on #77
+1

Reasoning out loud: we would include the `attestor` in the object because we want that `id` to be explicit and in authenticated data, rather than relying on an undefined (outside of the scope of in-toto attestations and the recommended DSSE envelope) mechanism to map the unauthenticated `keyid` in the envelope to an attesting entity.

Should the `attestor` object support multiple `id's, such t

[2022-01-26 21:37] TomHennen commented on #77
Yes exactly.  We take the same approach with builder.id in slsa.dev/provenance.
We have an internal map that says something like "keyid: [a, b, c] can sign things for builder.id = 'foo'".  This lets us right fairly straightforward policies referencing builder.id instead of all the keys that could be used to sign an attestation.

I think that would make things like the above description harder, so

[2022-01-27 03:04] colek42 commented on #77
In witness we solve the problem of multiple attestations with an `attestationCollection` this lets us scope attestation code narrowly, but bind them together for purposes of trust.

For example, an `attestationCollection` may contain the following attestations for this use case `["git", "oidc", "review", "tpm"]` - this would bind the trust from OIDC auth, the review data, the hardware identity of

[2022-01-27 16:15] adityasaky commented on #77
[code]

I took a quick look at how this maps to [crev's fields](https://github.com/crev-dev/cargo-crev/blob/master/crev-lib/rc/doc/editing-package-review.md#data-fields), which are more granular, and tried to map them to Gossamer's. For spot-check, code-review, sec-audit, we should probably map it to one value for rating, and then think about whether other combinations of thoroughness + rating are

[2022-01-28 20:10] laurentsimon commented on #47
Hey (scorecard maintainers here)

I like the idea of having scorecard generate attestations - surprise :-) !

We have this on our roadmap. We think we'll have something for Q2

Few high-level comments:
1. Our plan is to leverage the [scorecard action](github.com/ossf/scorecard-action) installed on the repos who want to sign up for SLSA compliance
2. We are planning to expose scorecard results with

[2022-01-31 11:55] samj1912 opened #82 "Add support for Cyclonedx as a predicate"
intoto attestations currently document the [SPDX predicate type](https://github.com/in-toto/attestation/blob/main/spec/predicates/spdx.md). SBOMs and BOMs in general are a diverse space as of now and [CycloneDX](https://cyclonedx.org/) is the other leading industry alternative to SPDX for SBOMs.

CycloneDX supports other capabilities apart from just SBOMs. A particularly interesting one is the [VE

[2022-01-31 12:05] samj1912 commented on #82
The above is an example proposed predicate type documentation.

[2022-01-31 12:10] samj1912 commented on #82
Having this information (sbom/vex) in the intoto attestation format is particular interesting when combined with [cosign attestations](https://github.com/sigstore/cosign/blob/main/specs/ATTESTATION_SPEC.md) + a policy engine like [kyverno](https://kyverno.io/docs/writing-policies/verify-images/#verifying-image-attestations)

which will allow verification of container images before they are admitte

[2022-01-31 12:29] samj1912 commented on #82
Note that this is a different proposal from https://github.com/in-toto/attestation/issues/74 and might tie up nicely with https://github.com/in-toto/attestation/issues/58

This proposes a top level CycloneDX BOM predicate type - which includes both SBOMs and VEX (vulnerability attestation format) among other things.

[2022-01-31 12:48] samj1912 commented on #82
Some related CycloneDX BOM examples -

CycloneDX SBOM -
https://github.com/CycloneDX/sbom-examples/blob/master/SBOM/dropwizard-1.3.15/bom.json
https://github.com/CycloneDX/sbom-examples/blob/master/SBOM/proton-bridge/proton-bridge-v1.8.0.bom.json

CycloneDX VEX -
https://github.com/CycloneDX/sbom-examples/blob/master/VEX/vex.json

CycloneDX SaaSBOM -
https://github.com/CycloneDX/sbom-examples/blob

[2022-01-31 16:51] stevespringett commented on #82
Let me or @coderpatros know if there are any CycloneDX questions. Looking forward to this enhancement!

[2022-01-31 17:49] samj1912 commented on #82
@stevespringett not sure if the CycloneDX team has a preference on what the predicate type should look like -

For eg `https://cyclonedx.org/BOM/v1.4` or just `https://cyclonedx.org/BOM`

The CycloneDX format has a mandatory specVersion field, so we may choose to omit the version number from the predicateType URI to avoid confusion.

Similarly not sure if you have a preference for different predic

[2022-01-31 18:00] stevespringett commented on #82
I would recommend a generic predicate type, not specific to the CycloneDX capabilities. The reality is that it's entirely possible to construct a BOM with ALL capabilities.

`https://cyclonedx.org/bom` or `https://cyclonedx.org/BOM` sounds good to me. As you state, the version is included in the BOM itself. The JSON spec has a `specVersion` whereas the XML spec relies on the namespace to identify

[2022-02-03 18:20] mattmoor commented on #46
@MarkLodato I could make a case for expiring every single one of your examples, and I also wasn't suggesting the fields should necessarily be required, just documented as options for expressing that metadata in standard ways.

I could see `createdAt` (however it is stored) being less contentious, and it affords policy engines to make their own judgements around the validity lifespans of different

[2022-02-03 19:48] MarkLodato commented on #46
Please do! :grinning: @mattmoor that would be a huge help.

[2022-02-04 02:31] mattmoor commented on #46
I'll skip the last one, since you covered it.

For vulnerability scans, while I agree with your framing around *timestamp* being the true signal of validity, I'd compare this to a negative Covid PCR test; it's immediately invalid, but practically the result is accepted for some period of time, e.g. 72 hours.

For code reviews, I'm sure we've all seen PRs (or CLs) that take months to merge.  In som

[2022-02-04 16:59] MarkLodato commented on #77
Note: I recommend against negative votes because it violates the [monotonic](https://github.com/in-toto/attestation/tree/main/spec#parsing-rules) principle: if someone deletes the attestation, it would cause a policy to go from DENY to ALLOW. Instead, it's better to consider only positive votes so that you don't have to worry about deletion as an attack vector.

As discussed today, I think the nex

[2022-02-10 14:06] MarkLodato opened #86 "Only require 1 approver"
We keep finding ourselves lacking two separate reviewers for PRs. IMO it's unnecessarily burdensome to have two reviews for every change. Any objections to decreasing this down to 1?

[2022-02-11 15:45] MarkLodato commented on #86
Great, thanks! I see it's changed now.

[2022-02-11 15:45] #86 closed

[2022-02-11 16:05] joshuagl commented on #86
(FWIW I'd be happy to be a reviewer on changes where two reviewers is desirable).

[2022-02-16 18:31] SantiagoTorres commented on #77
Bump, I wonder if we'd like to [bring in this into the discussion](https://gist.github.com/lrvick/d4b87c600cc074dfcd00a01ee6275420)

[2022-02-17 03:09] jnaulty commented on #77
Hey @SantiagoTorres I was thinking of this issue too when I started reviewing the `Sig v2` design: https://gist.github.com/lrvick/d4b87c600cc074dfcd00a01ee6275420?permalink_comment_id=4065601#gistcomment-4065601

I brought this gist up this morning at the [OpenSSF Supply Chain Integrity](https://github.com/ossf/wg-supply-chain-integrity) meeting, I'm glad it might gain traction in this particular

[2022-02-17 16:38] adityasaky commented on #77
@MarkLodato do you have any thoughts on how to avoid negative votes for dependency reviews?

[2022-02-17 16:40] adityasaky commented on #77
The Sig v2 spec looks great! I've looked at crev a bit but haven't come across https://github.com/git-wotr/spec/blob/master/design.org before. Taking a look...

[2022-02-18 14:39] MarkLodato commented on #77
Let me add more nuance here. I consider two types of policies:

- "Baseline" policies set the minimum standard for acceptance. If an artifact does not meet the baseline policy, it is not allowed at all. For these, the [monotonic](https://github.com/in-toto/attestation/tree/main/spec#parsing-rules) principle applies.
- "Best effort" policies provide additional checks with lower guarantees. These ca

[2022-03-02 18:01] adityasaky commented on #77
@MarkLodato thanks for the clarifications!

[2022-03-07 19:16] MarkLodato commented on #5
Another use case: attestation on a builder, where the subject is the builder ID. An auditor can, e.g. describe [SLSA requirements](https://slsa.dev/requirements) that are met for all builders having that builder ID.

This information should [not](https://github.com/slsa-framework/slsa/issues/315) go in the provenance itself because it is metadata about how the provenance was generated. No one shou

[2022-03-07 19:17] MarkLodato commented on #5
In terms of implementing this, we could add support for a `uri` subject, which would support most use cases.

A tricky question is what the semantics are when both `uri` and `digest` are set. Must the consumer verify both? What if they only have one to verify against? A simple workaround is to disallow that case, at least for now. You can set either field but not both, which is unambiguous. Once w

[2022-03-24 18:38] MarkLodato commented on #28
I propose that we shelve this indefinitely given the cost/benefit. The proposed solutions would add very substantial complexity cost to the model, while the benefit is still small as this continues to be a theoretical attack. Though concrete, the OCI example has already been fixed upstream, and we still don't have a real-world situation where this could be exploited. So my feeling is that should e

[2022-04-06 18:07] MarkLodato commented on #29
Moved to slsa-framework/slsa/issues/349

[2022-04-06 18:07] #29 closed

[2022-04-06 18:11] MarkLodato commented on #23
Closing since I don't think this is super high priority.

[2022-04-06 18:11] #23 closed

[2022-04-06 18:20] MarkLodato commented on #25
Moved to slsa-framework/slsa/issues/350

[2022-04-06 18:20] #25 closed

[2022-04-06 18:22] MarkLodato commented on #30
I haven't heard any more requests for this, so I'll just close this as WontFix. If there is demand, please open an issue under the slsa repo.

[2022-04-06 18:22] #30 closed

[2022-04-06 20:38] MarkLodato commented on #32
Moved to slsa-framework/slsa/issues/351

[2022-04-06 20:38] #32 closed

[2022-04-06 20:38] MarkLodato commented on #40
This hasn't really come up since, so i'll mark as WontFix for now. If there is interest, please open an issue on the slsa repo.

[2022-04-06 20:38] #40 closed

[2022-04-07 18:26] MarkLodato commented on #15
Moved to slsa-framework/slsa/issues/353

[2022-04-07 18:26] #15 closed

[2022-04-13 16:32] wietse-gmail opened #92 "Proposal: support subjects that have no digests"
Currently, an in-toto [Attestation](https://github.com/in-toto/attestation/blob/main/spec/README.md#statement) subject can have  the form `{name, digest}` and where both fields must be present. A name field can have the value "`_`" when a subject has no meaningful name, but it is currently impossible to specify a subject that has no meaningful digest.

We would like to support subjects of the form

[2022-04-14 14:15] wietse-gmail commented on #5
I'm proposing a solution with [Proposal: support subjects that have no digests #92]
(https://github.com/in-toto/attestation/issues/92). The basic idea is to allow a subject.uri (a resourceURI) instead of a subject.digest.

[2022-04-21 00:35] marcelamelara commented on #2
I wanted to bump this issue since I've been thinking about nested predicates as well as capturing attestation dependencies for my work on CDI. Since our goals is to provide fine-grained application level attestations about artifacts with corresponding evidence (which itself may consist of other types of attestations), I specifically have the need for capturing nested predicates, or at least refere

[2022-04-26 21:13] marcelamelara commented on #2
I tend to agree that referencing other attestations by hash makes a lot of sense. The only other question then is, how do we find this attestation if the only reference we receive is the hash? I think there's going to have to be some kind of location URI or some other info to resolve the referenced attestation. For example, if the referenced attestation is stored in a Rekor instance, we should be

[2022-04-26 22:34] marcelamelara commented on #2
@MarkLodato @SantiagoTorres

Separate, but related question. It seems like there is at least a potential ITE in here, which is this notion of cross-attestation references. Is this something that's worth drafting up at this point?

And it seems like if we were to add support for signing a list of predicates under a single attestation generated within a single step (which is not the same thing as a

[2022-04-27 13:48] MarkLodato commented on #2
I suggest that we move this to https://github.com/slsa-framework/slsa/issues/269. My feeling is that we should always have some other identifier/URI in addition to a hash. You don't just get a blob of data out of nowhere. You have some idea of what it is.

I think it should at least be documented. I don't know if it needs a full-blown ITE. @SantiagoTorres thoughts?

I think we should expand the at

[2022-05-11 11:25] MarkLodato commented on #82
PRs welcome! Or this can be documented on the CycloneDX side and just have a pointer in this repo. There is no formal registration necessary.

[2022-05-13 12:08] chipzoller commented on #82
What's needed from an in-toto side to "support" this? If there's no formal registration, is it just a mutual agreement as to the predicateType URI?

[2022-05-13 13:07] MarkLodato commented on #82
From a specification point of view, all that is needed is a document describing unambiguously how to interpret the attestation of that predicateType: how to parse the predicate (linking to the CycloneDX spec), how the subject relates to the predicate, etc. It will probably be short. This document SHOULD be served from that URI (example: https://slsa.dev/provenance/v0.2).

Then you need tools to ac

[2022-05-13 14:45] samj1912 commented on #82
Happy to submit a PR to document this in the spec first.

[2022-05-16 21:35] chipzoller commented on #82
Happy to collaborate, @samj1912

[2022-07-01 15:59] joshuagl opened #98 "Link to known attestations in repository"
In today's [in-toto community call](https://hackmd.io/@lukpueh/ry_e70Qqw) while discussing open ITE's we discussed it being useful for both adopters and maintainers to have a collection of different in-toto attestations that exist in the wild.

Some examples I know of:

* [SLSA provenance (v0.2)](https://slsa.dev/provenance/v0.2) – designed to describe how a subject artefact was produced, with sev

[2022-07-01 16:01] joshuagl commented on #98
I'd be happy to file a PR adding a markdown file to the repo with these links in.

[2022-07-27 00:58] ywluogg opened #103 "Determine types of artifacts in subjects and materials fields"
Hi team, during uses of Intoto provenance, I noticed a use case that pipeline can produce artifact URI not in the recommended PackageURI form, but it would be still fairly valuable if there is a field in `subjects` and `materials` to let users determine the type of the artifact. Consider the following case:
[code]
in `subjects` and the following case:
[code]
in `materials`. It would be hard to det

[2022-07-27 04:35] adityasaky commented on #103
Hi @ywluogg , is this for the SLSA provenance spec? I wonder if we can use ITE-4 URIs to indicate the package ecosystem, perhaps even going as far as pURL? That way we can avoid adding an extra field, but this discussion may belong on the SLSA forum.

cc @MarkLodato @SantiagoTorres

ITE-4 for reference: https://github.com/in-toto/ITE/blob/master/ITE/4/README.adoc

[2022-08-05 15:21] joshuagl commented on #98
Need to review these and see how much they differ from the SLSA provenance format. Is it just the opaque fields, or are there other differences and/or extensions?

[2022-08-05 18:07] TomHennen commented on #98
I was thinking it would be nice to have some tool to validate SLSA provenance against the spec.  I've certainly run into cases where people claimed to be doing it but some fields were incorrect.

Are there any current best practices on validating JSON schemas?

[2022-08-05 19:04] TomHennen commented on #98
json-schema.org seems to be the thing.  We _could_ define schemas using it and then power some or all of the validation using the associated tooling.  Not sure how folks feel about that?

[2022-08-09 07:30] lukpueh commented on #98
I support this! I remember looking into json schema some years ago, when we started developing the in-toto reference implementation. Back then spec/tooling did not seem mature enough. Looks like this has changed.

[2022-08-09 15:31] ywluogg opened #105 "Does "subjects" and "materials" field support multi-arch images?"
Hi team, I wonder if there is a way that "subjects" and "materials" field in the statement supports multi-arch images? I know that you can specify multiple digests for different algorithms for a single image, but are there examples what a multi-arch image look like in these fields?

[2022-08-09 16:00] MarkLodato commented on #105
Assuming you mean multi-arch container images (OCI/Docker), one approach would be to only list the digest of the (multi-arch) [image index](https://github.com/opencontainers/image-spec/blob/main/image-index.md). I don't have enough experience to know whether that is an issue when you go to use such an image. For example, does a Kubernetes admission controller see the digest of the (multi-arch) ind

[2022-08-09 16:07] mlieberman85 commented on #105
Yes, I believe we have just done separate values in the `subjects`

[2022-08-09 16:35] ywluogg commented on #105
I see! Thanks for the reference!

[2022-08-10 15:43] joshuagl commented on #98
I agree it would be great to be able to validate provenance against the spec. I'm not familiar with json-schema.org but it does seem to be popular among colleagues faced with similar problems.

[2022-09-11 17:03] TomHennen commented on #98
Here's an example of what the json-schema for in-toto _statements_ would look like:

[code]

We'd probably want to also define individual schemas for each of the 'official' predicate types.

I'd assume people would want us to have some sort of command line validator.  I'd normally default to golang but it doesn't look like the latest golang implementations support the 2020-12 draft.  Perhaps we sh

[2022-09-14 20:29] MarkLodato commented on #28
No one has chimed in on the "content type", so I'll say that the previous comment stands. No "content type" for now.

There has been some desire for "digest kind", but using the suggestion of https://github.com/in-toto/attestation/issues/28#issuecomment-1010326998. The particular use case is for go packages, which don't compute raw sha256 over a zip file but instead compute the [dirhash](https://p

[2022-09-14 20:38] laurentsimon commented on #28
The other fields in in-toto seem to be specified in camel case (`configSource`, `buildConfig`). If this convention only for field name or their values as well? If so, `golangDirdash`. If not, ignore my comment.

[2022-09-14 21:18] MarkLodato commented on #28
Good point. yes, camel case `goDirhash`. (I believe the go team dislikes the term "golang".)

Since the docs are poor, here is the correct command to compute the hash outside of the go binary:
https://github.com/golang/go/issues/48498

[2022-09-16 16:16] MarkLodato opened #107 "Need better clarity on bundle filename for chains of attestations"
The current bundle [file naming convention](https://github.com/in-toto/attestation/blob/main/spec/bundle.md#file-naming-convention) is misleading for the case when the bundle is a set of dependent attestations that are all "about" a single artifact but have different subjects. Current wording:

The phrase "concern a single artifact" needs more specificity. It could be read two ways:

- (unintended

[2022-09-16 16:40] TomHennen commented on #107
Yes, agreed.

I wonder if this should cover "attestations produced during the artifact's SDLC"?

[2022-09-16 16:59] mlieberman85 commented on #107
Here's how I see it potentially playing out. I am OK with duplicating an attestation across for multiple artifacts if that one attestation has multiple subjects. Since we have jsonl we can do stuff like:

Attestation A refers to Artifact 1 and Artifact 2.
Attestation B refers only to Artifact 1.
Attestation C refers only to Artifact 2.

artifact1.jsonl can contain Attestation A and Attestation B.

[2022-09-16 18:15] TomHennen commented on #107
I agree with that.

I think it would also be fine if artifact1.jsonl contained Attestation A, B, and C.

I.e. it's fine (but not optimal) if the bundle contains attestations that aren't applicable.

[2022-09-19 21:47] TomHennen commented on #28
I think this sounds great to me.

[2022-09-23 17:17] MarkLodato commented on #28
Sent out #108. If/when that is merged, I think we should consider this issue closed since we have effectively made the decision.

[2022-09-26 20:47] laurentsimon commented on #107
feedback from https://github.com/sigstore/sigstore-python/pull/223#discussion_r980414422: need the version number in the filename, `multiple-v1.2.3.intoto.jsonl`

[2022-10-13 17:23] marcelamelara commented on #76
Link to the SCAI metadata specification document: https://arxiv.org/abs/2210.05813

[2022-10-13 17:40] marcelamelara commented on #5
Bumping this issue, since this is also relevant to #112 I just opened. The use case I'm concerned with is referencing artifacts or attestations within other attestations, and being able to validate both the integrity of the subject as well as locate it at the URI. I think it would be useful to (1) add the optional URI field to the subject, and (2) generalize the subject field type to something lik

[2022-10-17 12:11] lehors commented on #82
Hi,
This issue has been left open without any clear resolution. [Syft uses "https://cyclonedx.org/bom"](https://github.com/anchore/syft/blob/main/cmd/syft/cli/attest/attest.go#L361) while [PR #169](https://github.com/in-toto/in-toto-golang/pull/169) added to in-toto-golang the predicate with the value ("https://cyclonedx.org/schema"). The latter is used by cosign, making cosgin and syft incompatib

[2022-10-17 14:47] stevespringett commented on #82
We've discussed this in the CycloneDX project and have settled on the use of `https://cyclonedx.org/bom` which aligns to what Syft is using. The problem with in-toto using `https://cyclonedx.org/schema` is that if the CycloneDX project ever comes up with a different but complimentary specification (highly likely), `/schema` doesn't provide enough context about which one. And in fact, an [SPDX sche

[2022-10-17 14:59] lehors commented on #82
Thanks for the response. I understand and I'll be happy to submit a PR to update in-toto-golang accordingly. It would be best if the CycloneDX project closed the issue with your decision. We can then close this one and update all projects accordingly.

[2022-10-17 18:09] adityasaky commented on #82
@samj1912 can you open a PR for this proposed predicate type? The format for a predicate spec can be found here: https://github.com/in-toto/ITE/blob/master/ITE/9/README.adoc. Also, #111 and #112 can be used for reference.

[2022-10-18 18:10] MarkLodato commented on #5
@marcelamelara could you provide a concrete example in JSON of how this would be used and what the semantics would be?

[2022-10-19 15:45] joshuagl opened #114 "Add evidence field to the statement layer"
In a discussion about including logs in a SLSA attestation (https://github.com/slsa-framework/slsa/issues/401) @MarkLodato suggested (https://github.com/slsa-framework/slsa/issues/401#issuecomment-1163192691) we might want to add an optional `evidence` field to the statement layer to support debugging and auditing.

[2022-10-19 18:40] MarkLodato commented on #107
Please see #115 for a potential fix.

[2022-10-25 17:45] #107 closed

[2022-11-23 21:31] marcelamelara commented on #5
@MarkLodato apologies for the delayed response. Here's a concrete example for an attestation with subject that contains both a digest and a URI:
[code]
This is a new proposed predicate type, the goal is to be able to attest to specific security attributes of binaries. In this case, if we want to attest to the gcc v9.3.0 binary. We assume that the gcc binary is shipped separately from the attestati

[2022-11-28 18:02] MarkLodato commented on #5
@marcelamelara Is that a "location hint" so to speak, where it's just informing where you could download the artifact, or is it actually required to match BOTH digest AND uri?

[2022-11-28 18:40] marcelamelara commented on #5
@MarkLodato it's more supposed to be a "location hint", but only the digest must match in my model. So, if the consumer already has the artifact, and it matches the digest, we could assume that the attestation applies to the artifact.